@import '../fonts/Fonts.css';
@import 'MFXColors.css';

.mfx-icon-button {
    -mfx-size: 24;
}

/**************************************************
 * Root
**************************************************/
.label, .text-field, .text-area, .button {
    -fx-font-family: 'Open Sans Regular';
    -fx-font-size: 16;
}

/**************************************************
 * Window Header
**************************************************/
.close-icon {
    -fx-opacity: 0.5;
    -fx-cursor: hand;
}

.close-icon:hover {
    -fx-opacity: 1.0;
}

.minimize-icon {
    -fx-opacity: 0.5;
    -fx-cursor: hand;
}

.minimize-icon:hover {
    -fx-opacity: 1.0;
}

/**************************************************
 * Sidebar
**************************************************/
.sidebar {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.header {
    -fx-font-family: 'Visby Round CF Heavy';
    -fx-font-size: 26;
}

.menu-label {
    -fx-font-family: 'Visby Round CF Bold';
    -fx-font-size: 14;
}

/*TREE VIEW NAV STYLING.*/
.navbar .tree-view {
    -fx-insets: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 1;
    -fx-indent: 35;
}
.navbar .tree-view .tree-cell {
    -fx-pref-height: 40;
    -fx-font-family: 'Visby Round CF Demi Bold';
    -fx-font-size: 13;
}
.nav-tree-cell > .container > .title {
    -fx-pref-height: 40;
    -fx-font-family: 'Visby Round CF Demi Bold';
    -fx-font-size: 13;
}
.navbar .tree-view .tree-cell:selected,
.navbar .tree-view .tree-cell .container,
.navbar .tree-view .tree-cell .container:group,
.navbar .tree-view .tree-cell .container:sub-tree-item {
    -fx-background-radius: 10;
}

.navbar .tree-view .tree-cell .container{
    -fx-padding: 10 5 10 15;
}

.navbar .tree-view .tree-cell:sub-tree-item {
    -fx-padding: 3 3 3 20;
    -fx-border-insets: 3 3.5 3 34;
    -fx-background-insets: 3 3.5 3 34;
}

.nav-tree-cell:group > .container > .arrow {
    -fx-icon-code: fas-angle-right;
}

.nav-tree-cell:group:expanded > .container > .arrow {
    -fx-icon-code: fas-angle-down;
}

/*Remove Horizontal scrollbar and other components.*/
.tree-view *.scroll-bar:horizontal,
.tree-view *.scroll-bar:horizontal *.track,
.tree-view *.scroll-bar:horizontal *.track-background,
.tree-view *.scroll-bar:horizontal *.thumb,
.tree-view *.row-header-background *.show-hide-rows-button,
.tree-view *.scroll-bar:horizontal *.increment-button,
.tree-view *.scroll-bar:horizontal *.decrement-button,
.tree-view *.scroll-bar:horizontal *.increment-arrow,
.tree-view *.scroll-bar:horizontal *.decrement-arrow,
.tree-view *.scroll-bar:vertical,
.tree-view *.column-header-background *.show-hide-columns-button,
.tree-view *.scroll-bar:vertical *.increment-button,
.tree-view *.scroll-bar:vertical *.decrement-button,
.tree-view *.scroll-bar:vertical *.increment-arrow,
.tree-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/*Style scrollbar track and thumb*/
.tree-view *.scroll-bar:vertical {
    -fx-unit-increment: 2;
    -fx-block-increment: 5;
}

.tree-view *.scroll-bar:vertical *.track,
.tree-view *.scroll-bar:vertical *.track-background {
    -fx-background-radius: 2.0em;
    -fx-border-radius: 2.0em;
    -fx-padding: 0.2em;
    -fx-background-insets: 4.0, 0.0, 0.0;
}

.tree-view *.scroll-bar:vertical *.thumb {
    -fx-background-insets: 3.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.tree-view *.scroll-bar:vertical *.thumb:hover {
    -fx-background-insets: 2.5, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

/*MESSAGE STYLES*/
.message-holder {
    -fx-padding: 0 5 0 5;
}

.message-layout {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.12, -1.0, 2.0);
}

.message-icon {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-pref-height: 5;
    -fx-pref-width: 40;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.12, -1.0, 2.0);
}

.message-message {
    -fx-font-family: 'Visby Round CF Demi Bold';
    -fx-font-size: 1.0em;
    -fx-content-display: left;
    -fx-graphic-text-gap: 10;
}

/*Error alert styles.*/
.error {
    -fx-border-size: 2;
}

/*Success alert styles.*/
.success {
    -fx-border-size: 2;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.12, -1.0, 2.0);
}

/*POS PRODUCT CARD*/
.pos-product-card {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.pos-product-card:hover {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.12, -1.0, 2.0);
}

.pos-product-label {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 2 10 2 10;
}
.pos-product-card-name {
    /* -fx-font-size: 12; */
    /* -fx-font-weight: 900; */
}

.pos-product-card-price {
    -fx-font-weight: 900;
}
/*
.pos-product-card-quantity {
    -fx-font-size: 12;
}*/
.rounded, .rounded-border {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.rounded-accent-border {
    -fx-background-radius: 500;
    -fx-border-radius: 500;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-opaque-insets: 0;
    -fx-border-width: 2;
}

/*CARDS*/
.card-flat {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.card-flat-top {
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
}
.card-flat-bottom {
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}
.card-flat-no-border {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.theme-item {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}
.card-raised {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.12, -1.0, 1.5);
}

.card-colored {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.12, -1.0, 1.5);
}
/* APPEARANCE STYLES */
.header-title{
     -fx-font-size: 18;
     -fx-font-weight: bold;
}
.header-description{
}
.sub-header-title{
     -fx-font-size: 16;
     -fx-font-style: italic;
}
. preview-header{
     -fx-font-weight: bold;
}

.card-color-decor{
    -fx-background-radius: 10 0 0 10;
}

.designation-label{
     -fx-font-size: 13;
}
.username-label{
     -fx-font-size: 16;
     -fx-font-weight: bold;
}
.view-all {
     -fx-font-size: 13;
}
.card-title{
     -fx-font-size: 16;
     -fx-font-weight: bold;
}
.card-sub-title{
     -fx-font-size: 13;
     -fx-font-weight: bold;
}
.hero-image{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.login-title {
    -fx-font-family: 'Visby Round CF Heavy';
    -fx-font-size: 26;
}

.app-label {
    -fx-font-family: 'Visby Round CF';
    -fx-font-size: 16;
}

.company-label {
    -fx-font-family: 'Varela Round';
    -fx-font-size: 11;
}
.default-color0.chart-bar {
    -fx-border-width: 2px;
    -fx-pref-width: 20;
}

.plan-card{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 5;
}

.plan-name {
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 25;
}
.plan-sub-name {
    -fx-font-family: 'Comfortaa Light';
    -fx-font-size: 13;
}
.plan-highlight {
    -fx-font-family: 'Open Sans LightItalic';
    -fx-font-size: 13;
}
.plan-price {
    -fx-font-family: 'Open Sans ExtraBold';
    -fx-font-size: 40;
}
.plan-details {
    -fx-font-family: 'Comfortaa Medium';
    -fx-font-size: 13;
}

/** Dialogs Styling */
.dialog-title {
    -fx-font-family: 'Comfortaa Bold';
    -fx-font-weight: bold;
    -fx-font-size: 25;
}
.dialog-sub-title {
    -fx-font-family: 'Comfortaa Medium';
    -fx-font-size: 13;
}
.dialog-sub-title-item {
    -fx-font-family: 'Comfortaa Bold';
    -fx-font-size: 13;
}
.dialog-top-icon {
    -mfx-size: 30;
}
/*
* LineChart Styling
*/
.default-color0.chart-series-line {
    -fx-stroke: #00AEF5;
}
.default-color1.chart-series-line {
    -fx-stroke: #4EE29B;
}
.default-color0.chart-line-symbol {
    -fx-background-color: black, #00AEF5;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}
.default-color1.chart-line-symbol {
     -fx-background-color: black, #4EE29B;
     -fx-background-insets: 0, 2;
     -fx-background-radius: 10px;
     -fx-padding: 5px;
}
/*  ////////////////////////////////////////////////////////////////////////////////
*   //                            New Organised CSS                               //
*   ////////////////////////////////////////////////////////////////////////////////
*/
.body {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.content-view {
    -fx-background-radius: 10 10 0 10;
    -fx-border-radius: 10 10 0 10;
}

.h1 {
    -fx-font-size: 2.5em;
    -fx-font-weight: bold;
}

.h2 {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.h3 {
    -fx-font-size: 1.75em;
    -fx-font-weight: bold;
}

.h4 {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.h5 {
    -fx-font-size: 1.25em;
    -fx-font-weight: bold;
}

.h6 {
    -fx-font-size: 1em;
    -fx-font-weight: bold;
}

.disabled-text {
    -fx-text-fill: #908686;
}

.fs-italic {
    -fx-font-style: italic;
}

.text{
     -fx-font-size: 1em;
     -fx-line-height: 1.5;
}

.text-white{
     -fx-text-fill: white;
}

.text-black{
     -fx-text-fill: black;
}

.text-red{
     -fx-text-fill: red;
}

.text-orange{
     -fx-text-fill: orange;
}

.text-green{
     -fx-text-fill: green;
}

/*  ////////////////////////////////////////////////////////////////////////////////
*   //                            Specialised CSS Classes                         //
*   ////////////////////////////////////////////////////////////////////////////////
*/
.nav-toggle {
}

.nav-toggle .nav-toggle-arrow {
    -fx-icon-code: fas-angle-left;
}

.nav-toggle:selected .nav-toggle-arrow {
    -fx-icon-code: fas-angle-right;
}

.icon {
    -mfx-size: 24;
}

.validation-label {
    -fx-font-size: 11;
}