.charts-tooltip {
    -fx-background-color: white;
}

.charts-tooltip .label {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-font-family: 'Roboto Regular', 'Open Sans Regular', 'Comfortaa Regular';
}